@model IEnumerable<TrainingManagementSystem.Models.ApplicationUser>
@{
    ViewBag.Title = "ShowTrainee";
}

<div class="row">
    <div class="col-md-4">
        <h2>Show Trainees</h2>
        <ul>
            <li class="list-group-item active">
                All Trainees

            </li>
            @foreach (var user in Model)
            {
                <li class="list-group-item">@user.UserName</li>
            }
        </ul>
    </div>
</div>

