@model IEnumerable<TrainingManagementSystem.Models.ApplicationUser>
@{
    ViewBag.Title = "ShowStaff";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">All Staffs</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var user in Model)
            {
                <th class="list-group-item">@user.UserName</th>
            }
            <td>Details</td>
        </tr>
    </tbody>
</table>

