@model IEnumerable<TrainingManagementSystem.Models.ApplicationUser>
@{
    ViewBag.Title = "ShowTrainer";
}
<h2>Trainers List</h2>
<div class="form-group">
    @Html.ActionLink(
        "Create A Trainer",
        "CreateTrainer",
        "Account",
        null,
        new { @class = "btn btn-primary" })
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">All Trainers</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td class="list-group-item">@user.UserName</td>
                <td>
                    @Html.ActionLink(
                            "Details",
                            "TrainerDetails",
                            "Admin",
                            new { id = user.Id },
                            new { @class = "btn btn-primary" }
                            )
                </td>
            </tr>
        }
    </tbody>
</table>
