@model IEnumerable<TrainingManagementSystem.Models.Trainee>
@{
    ViewBag.Title = "ViewTrainees";
}

<h2>Trainees in Course</h2>

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item active">
                Trainees in Course

                <span class="badge">@Model.Count()</span>
            </li>
            @foreach (var trainee in Model)
            {
                <li class="list-group-item">
                    @trainee.Email
                    <div>
                        <span class="text-right">
                            @Html.ActionLink(
                                        "Remove",
                                        "RemoveTrainee",
                                        "Courses",
                                        new { id = ViewBag.CourseId, userId = trainee.UserId },
                                        new { @class = "text-danger text-right"}
                                        )
                        </span>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

