@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Training Management System</h1>
    <p class="lead">TMS is an internal system used to manage internal training within the FPT Co.</p>
</div>

